<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--External links for CSS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <!--My own style-->
    <link rel="stylesheet" href="/static/style.css">
    
    {% if title %}
        <title>{{ title }} </title>
    {% else %}
        <title>Mi sitio</title> 
    {% endif %}
</head>
<body>

    <header>
        <nav>
            <a target="_blank" href="https://www.mintic.gov.co/portal/inicio/" id="mintic"> 
                <i class="fas fa-home"></i> MINTIC
            </a>
            {% block navigation %}
            {% endblock %}
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    
    <footer>
        <a href="mailto:baiyoketower@gmail.com">Contactanos</a>
        <a target="_blank" href="https://www.facebook.com">Facebook</a>
        <a target="_blank" href="https://www.twitter.com">Twitter</a>
        <a target="_blank" href="https://www.instagram.com">Instagram</a>
        <div>
            <p>Copyright 2022</p>
        </div>
    </footer>
</body>
</html>